UI-node-red.json
[
    {
        "id": "c0905e8386e7a6dc",
        "type": "tab",
        "label": "Wall-e",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0d558ec0d1cd740",
        "type": "ui_text_input",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "label": "Ultrasonic Sensor",
        "tooltip": "",
        "group": "c23dc8d241ddbc9c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ab33834d1fc51f96",
        "type": "mqtt in",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "topic": "esp32/distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "947aa3e7ca25c668",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "c0d558ec0d1cd740"
            ]
        ]
    },
    {
        "id": "8ac3c70f178c1dd0",
        "type": "ui_button",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "group": "c23dc8d241ddbc9c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Start",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "4d079cdc4e768830"
            ]
        ]
    },
    {
        "id": "4d079cdc4e768830",
        "type": "mqtt out",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "topic": "esp32/movement",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "24faac8e58459aaf",
        "type": "ui_button",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "group": "c23dc8d241ddbc9c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "584a1d40b99df71a"
            ]
        ]
    },
    {
        "id": "584a1d40b99df71a",
        "type": "mqtt out",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "topic": "esp32/movement",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "afc0e505a27c4bd9",
        "type": "ui_button",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "group": "359f8da2f68e373d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Open",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "58ede0ede3e7c27f"
            ]
        ]
    },
    {
        "id": "58ede0ede3e7c27f",
        "type": "mqtt out",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "topic": "esp32/claw",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 470,
        "y": 540,
        "wires": []
    },
    {
        "id": "8485fe3e46524e7a",
        "type": "ui_button",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "group": "359f8da2f68e373d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Close",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "8e302ba718580b5a"
            ]
        ]
    },
    {
        "id": "8e302ba718580b5a",
        "type": "mqtt out",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "topic": "esp32/claw",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 470,
        "y": 620,
        "wires": []
    },
    {
        "id": "e9173e053f7ec193",
        "type": "ui_dropdown",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "label": "Selecciona un color",
        "tooltip": "",
        "place": "Select option",
        "group": "c23dc8d241ddbc9c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "NONE",
                "value": "none",
                "type": "str"
            },
            {
                "label": "Rojo",
                "value": "rojo",
                "type": "str"
            },
            {
                "label": "Azul",
                "value": "azul",
                "type": "str"
            },
            {
                "label": "Amarillo",
                "value": "amarillo",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "fd2a97aface8c806"
            ]
        ]
    },
    {
        "id": "4d18da7402fd8d2c",
        "type": "ui_template",
        "z": "c0905e8386e7a6dc",
        "group": "c23dc8d241ddbc9c",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n<div style=\"text-align: center;\">\n    <h2>Video Procesado</h2>\n    <img src=\"http://192.168.209.194:5000/video\" style=\"max-width: 100%; height: auto; border: 1px solid #ccc;\" />\n</div>\n<style>\n    /* Cambiar color de fondo del dashboard */\n    body {\n        background-color: #f0f0f0;\n        /* Color gris claro */\n        font-family: Arial, sans-serif;\n    }\n\n    /* Estilizar los botones */\n    .md-button {\n        background-color: #007bff;\n        /* Azul */\n        color: white;\n        border-radius: 8px;\n        font-weight: bold;\n    }\n\n    .md-button:hover {\n        background-color: #0056b3;\n        /* Azul oscuro */\n    }\n\n    /* Personalizar el título de los grupos */\n    .nr-dashboard-cardtitle {\n        color: #ff5722;\n        /* Naranja */\n        font-size: 18px;\n        font-weight: bold;\n    }\n\n    /* Cambiar estilos del dropdown */\n    .nr-dashboard-dropdown {\n        background-color: #ffffff;\n        /* Fondo blanco */\n        border: 1px solid #ddd;\n        border-radius: 5px;\n        padding: 5px;\n    }\n\n    /* Estilizar el texto */\n    .nr-dashboard-text {\n        font-size: 16px;\n        color: #333333;\n        /* Texto gris oscuro */\n    }\n\n    @media (max-width: 600px) {\n  body {\n    background-color: #e0e0e0; /* Cambiar fondo en pantallas pequeñas */\n  }\n  .md-button {\n    font-size: 14px; /* Botones más pequeños */\n  }\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fd2a97aface8c806",
        "type": "mqtt out",
        "z": "c0905e8386e7a6dc",
        "name": "",
        "topic": "esp32/object",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "c23dc8d241ddbc9c",
        "type": "ui_group",
        "name": "Wall-e",
        "tab": "3b499c3a5dd489da",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "947aa3e7ca25c668",
        "type": "mqtt-broker",
        "name": "huawei@laptop",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "359f8da2f68e373d",
        "type": "ui_group",
        "name": "Claw",
        "tab": "4708eb48585d771d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b499c3a5dd489da",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4708eb48585d771d",
        "type": "ui_tab",
        "name": "Claw",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]