UI-node-red.json
[
    {
        "id": "e1a7e71d7b85c854",
        "type": "tab",
        "label": "Wall-e",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3501fdbcd1f16838",
        "type": "ui_text_input",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "label": "Ultrasonic Sensor",
        "tooltip": "",
        "group": "c23dc8d241ddbc9c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "97a1125c6a64e58e",
        "type": "mqtt in",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "947aa3e7ca25c668",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "3501fdbcd1f16838"
            ]
        ]
    },
    {
        "id": "e243124da4800284",
        "type": "ui_button",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "group": "c23dc8d241ddbc9c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Start",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "e8e66222676c644a"
            ]
        ]
    },
    {
        "id": "e8e66222676c644a",
        "type": "mqtt out",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/movement",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "0899de230be4ac62",
        "type": "ui_button",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "group": "c23dc8d241ddbc9c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "d56d4b13d30f4595"
            ]
        ]
    },
    {
        "id": "d56d4b13d30f4595",
        "type": "mqtt out",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/movement",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "df902f54eee2a561",
        "type": "mqtt in",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/object",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "947aa3e7ca25c668",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "4a371b835b59a266"
            ]
        ]
    },
    {
        "id": "963a18c80bbdc04a",
        "type": "ui_button",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "group": "359f8da2f68e373d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Open",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "aa3d890266f0f0be"
            ]
        ]
    },
    {
        "id": "aa3d890266f0f0be",
        "type": "mqtt out",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/claw",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 470,
        "y": 540,
        "wires": []
    },
    {
        "id": "f20297368471e933",
        "type": "ui_button",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "group": "359f8da2f68e373d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Close",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "e6d461a446b9d4c1"
            ]
        ]
    },
    {
        "id": "e6d461a446b9d4c1",
        "type": "mqtt out",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/claw",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 470,
        "y": 620,
        "wires": []
    },
    {
        "id": "4a371b835b59a266",
        "type": "ui_dropdown",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "label": "Selecciona un color",
        "tooltip": "",
        "place": "Select option",
        "group": "c23dc8d241ddbc9c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Amarillo",
                "value": "amarillo",
                "type": "str"
            },
            {
                "label": "Rojo",
                "value": "rojo",
                "type": "str"
            },
            {
                "label": "Azul",
                "value": "azul",
                "type": "str"
            },
            {
                "label": "Café",
                "value": "cafe",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "131c9140418fb854",
        "type": "ui_template",
        "z": "e1a7e71d7b85c854",
        "group": "c23dc8d241ddbc9c",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n<style>\n    /* Cambiar color de fondo del dashboard */\n    body {\n        background-color: #f0f0f0;\n        /* Color gris claro */\n        font-family: Arial, sans-serif;\n    }\n\n    /* Estilizar los botones */\n    .md-button {\n        background-color: #007bff;\n        /* Azul */\n        color: white;\n        border-radius: 8px;\n        font-weight: bold;\n    }\n\n    .md-button:hover {\n        background-color: #0056b3;\n        /* Azul oscuro */\n    }\n\n    /* Personalizar el título de los grupos */\n    .nr-dashboard-cardtitle {\n        color: #ff5722;\n        /* Naranja */\n        font-size: 18px;\n        font-weight: bold;\n    }\n\n    /* Cambiar estilos del dropdown */\n    .nr-dashboard-dropdown {\n        background-color: #ffffff;\n        /* Fondo blanco */\n        border: 1px solid #ddd;\n        border-radius: 5px;\n        padding: 5px;\n    }\n\n    /* Estilizar el texto */\n    .nr-dashboard-text {\n        font-size: 16px;\n        color: #333333;\n        /* Texto gris oscuro */\n    }\n\n    @media (max-width: 600px) {\n  body {\n    background-color: #e0e0e0; /* Cambiar fondo en pantallas pequeñas */\n  }\n  .md-button {\n    font-size: 14px; /* Botones más pequeños */\n  }\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c23dc8d241ddbc9c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "3b499c3a5dd489da",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "947aa3e7ca25c668",
        "type": "mqtt-broker",
        "name": "huawei@laptop",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "359f8da2f68e373d",
        "type": "ui_group",
        "name": "Claw",
        "tab": "4708eb48585d771d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b499c3a5dd489da",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "4708eb48585d771d",
        "type": "ui_tab",
        "name": "Claw",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]