UI-node-red.json
[
    {
        "id": "e1a7e71d7b85c854",
        "type": "tab",
        "label": "Wall-e",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3501fdbcd1f16838",
        "type": "ui_text_input",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "label": "Ultrasonic Sensor",
        "tooltip": "",
        "group": "c23dc8d241ddbc9c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "97a1125c6a64e58e",
        "type": "mqtt in",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "947aa3e7ca25c668",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "3501fdbcd1f16838"
            ]
        ]
    },
    {
        "id": "e243124da4800284",
        "type": "ui_button",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "group": "c23dc8d241ddbc9c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Start",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "e8e66222676c644a"
            ]
        ]
    },
    {
        "id": "e8e66222676c644a",
        "type": "mqtt out",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/movement",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "0899de230be4ac62",
        "type": "ui_button",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "group": "c23dc8d241ddbc9c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "d56d4b13d30f4595"
            ]
        ]
    },
    {
        "id": "d56d4b13d30f4595",
        "type": "mqtt out",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/movement",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "0a0dd999fc31db84",
        "type": "ui_text_input",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "label": "Object",
        "tooltip": "",
        "group": "c23dc8d241ddbc9c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "df902f54eee2a561",
        "type": "mqtt in",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/object",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "947aa3e7ca25c668",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "0a0dd999fc31db84"
            ]
        ]
    },
    {
        "id": "963a18c80bbdc04a",
        "type": "ui_button",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "group": "359f8da2f68e373d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Open",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "aa3d890266f0f0be"
            ]
        ]
    },
    {
        "id": "aa3d890266f0f0be",
        "type": "mqtt out",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/claw",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 470,
        "y": 540,
        "wires": []
    },
    {
        "id": "f20297368471e933",
        "type": "ui_button",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "group": "359f8da2f68e373d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Close",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "e6d461a446b9d4c1"
            ]
        ]
    },
    {
        "id": "e6d461a446b9d4c1",
        "type": "mqtt out",
        "z": "e1a7e71d7b85c854",
        "name": "",
        "topic": "esp32/claw",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "947aa3e7ca25c668",
        "x": 470,
        "y": 620,
        "wires": []
    },
    {
        "id": "c23dc8d241ddbc9c",
        "type": "ui_group",
        "name": "Wall-e",
        "tab": "3b499c3a5dd489da",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "947aa3e7ca25c668",
        "type": "mqtt-broker",
        "name": "huawei@laptop",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "359f8da2f68e373d",
        "type": "ui_group",
        "name": "Claw",
        "tab": "4708eb48585d771d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b499c3a5dd489da",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4708eb48585d771d",
        "type": "ui_tab",
        "name": "Claw",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]